.titulo-principal {
  padding-left: 1.25rem;
}

main {
  background: #CCCCCC;
  padding: 1.875rem;
}

em strong {
  color: red;
}

#banner {
  width: 100%;
}

.titulo-centralizado {
  text-align: center;
}

#missao {
  font-size: 1.25rem;
}

p {
  text-align: center;
}

.beneficios {
  background: #FFFFFF;
  padding: 1.25rem;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.img-beneficios {
  width: 50%;
}
